<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjetQCM</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AccesUserPage</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ValiderConnexion</servlet-name>
    <servlet-class>fr.eni.projet.servlet.ValiderConnexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnecter</servlet-name>
    <servlet-class>fr.eni.projet.servlet.Deconnecter</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>SelectionnerTest</servlet-name>
    <servlet-class>fr.eni.projet.servlet.SelectionnerTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnecter</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiderConnexion</servlet-name>
    <url-pattern>/ValiderConnexion</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>SelectionnerTest</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/dsProjetQCM</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>